@charset "UTF-8";

  html {
    scroll-behavior: smooth;
  }

.about-section {
  background: url(https://fadzrinmadu.github.io/hosted-assets/responsive-about-us-section-using-html/pic.jpg)
    no-repeat left;
  background-size: 55%;
  background-color: #FFFAF0;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #fff;
  padding: 150px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
    background-color: #FFFAF0;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}
.about {
  padding: 130px 0;
}

.about .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.about .heading h2 span {
  color: #f24259;
}

.about .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;
}

.about h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.about p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 15px;
  padding: 0;
}

.about h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 8px 0;
}

.about h4 i {
  color: #f24259;
  margin-right: 10px;
}



.main-nav {
  position: absolute;
  top: 0;
  width: 100%;
}
.main-nav * {
  box-sizing: border-box;
}
.main-nav .nav-content, .main-nav .tuggle-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.main-nav .nav-content .left-content, .main-nav .tuggle-content .left-content,
.main-nav .nav-content .right-content,
.main-nav .tuggle-content .right-content {
  z-index: 10;
}
.main-nav .left-content,
.main-nav .right-content {
  display: flex;
}
.main-nav .nav-item {
  margin-right: 20px;
}
.main-nav .right-content .nav-item:last-child {
  margin-right: 0;
}
.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav .tuggle-btn {
  display: none;
  position: relative;
  width: 35px;
  height: 24px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.main-nav .tuggle-btn span {
  display: block;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 5px;
  opacity: 1;
  transition: 0.25s ease-in-out;
}
.main-nav .tuggle-btn span:nth-child(1) {
  top: 0px;
}
.main-nav .tuggle-btn span:nth-child(2), .main-nav .tuggle-btn span:nth-child(3) {
  top: 11px;
}
.main-nav .tuggle-btn span:nth-child(4) {
  top: 22px;
}
.main-nav .tuggle-content {
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 75px;
}
.main-nav.open .tuggle-btn span:nth-child(1),
.main-nav.open .tuggle-btn span:nth-child(4) {
  top: 50%;
  left: 50%;
  width: 0;
  opacity: 0;
}
.main-nav.open .tuggle-btn span:nth-child(2) {
  transform: rotate(45deg);
}
.main-nav.open .tuggle-btn span:nth-child(3) {
  transform: rotate(-45deg);
}
.main-nav.active {
  position: fixed;
  background-color: #fff;
}

@media (min-width: 860px) {
  .main-nav .tuggle-content {
    height: 100%;
  }
}
@media (max-width: 860px) {
  .main-nav .tuggle-btn {
    display: block;
  }
  .main-nav .tuggle-content {
    padding-left: 30px;
    flex-direction: column;
    visibility: hidden;
  }
  .main-nav .tuggle-content .left-content,
.main-nav .tuggle-content .right-content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .main-nav .tuggle-content .right-content {
    border-top: 1px solid #c1c1c1;
    padding-top: 20px;
  }
  .main-nav .tuggle-content .nav-item {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .main-nav .tuggle-content .nav-item:last-child {
    margin-bottom: 0;
  }
  .main-nav.open .tuggle-content {
    top: 100%;
    visibility: initial;
    background-color: #fff;
  }
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body * {
  box-sizing: border-box;
}

.main-nav ul {
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.main-nav li {
  display: flex;
  align-items: center;
}
.main-nav a {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
}
.main-nav a:hover {
  text-decoration: underline;
}
.main-nav .tuggle-btn {
  margin-top: auto;
  margin-bottom: auto;
}
.main-nav .tuggle-btn span {
  background: #fff;
}
.main-nav .tuggle-content {
  padding-left: 100px;
}
.main-nav .logo {
  background: url("../img/logo.png") no-repeat center/cover;
  display: block;
  width: 55px;
  height: 40px;
}
.main-nav .registration {
  position: relative;
  padding: 10px 40px 10px 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.main-nav .registration:after {
  position: absolute;
  right: 15px;
  top: 9px;
  content: "→";
  color: #034694;
}
.main-nav .registration:hover, .main-nav .registration:focus {
  border-color:#034694;
  text-decoration: none;
}
.main-nav.open {
  background-color: rgba(0, 0, 0, 0.5);
}
.main-nav.open .tuggle-content {
  box-shadow: 0px 5px 12px -8px #000;
}
.main-nav.active {
  background-color: #fff;
  box-shadow: 0px 0px 7px -2px #000;
}
.main-nav.active a {
  color: #333;
}
.main-nav.active span {
  background: #333;
}
.main-nav.active .registration {
  border-color:#034694;
  background-color:#034694;
  color: #fff;
}
.main-nav.active .registration:after {
  color: #fff;
}
.main-nav.active .registration:hover {
  border-color: #F24259;
  background-color: #F24259;
}


@media (max-width: 860px) {
  .main-nav .tuggle-content {
    padding-right: 90px;
  }
  .main-nav ul {
    display: block;
  }
  #right {
    display: none;
  }
  #logo {
    display: none;
  }
  .main-nav .tuggle-content .nav-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c1c1c1;
  }
  .main-nav .tuggle-content .nav-item:last-child {
    border-bottom: none;
  }
  .main-nav.open .tuggle-content {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .main-nav.active .tuggle-content {
    background-color: #fff;
  }
}
header {
  display: flex;
  height: 600px;
  background: url("../img/home.jpg") no-repeat center/cover;
  color: #fff;
  


  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  height: 100%;
  width: 100%;
  background-color: rgba(45, 36, 45, 0.2);
}
header h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 400;
}
header p {
  font-size: 22px;
  font-weight: 300;
}

.content-container {
  padding: 0 30px;
}
.content-container h2 {
  text-transform: uppercase;
  font-weight: 400;
}
.content-container p {
  font-weight: 300;
  line-height: 1.5;
}


.about {
  padding: 130px 0;
}

.about .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.about .heading h2 span {
  color: #F24259;
}

.about .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;
}

.about h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.about p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 15px;
  padding: 0;
}

.about h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 8px 0;
}

.about h4 i {
  color: #F24259;
  margin-right: 10px;
}

.pre{
  margin-top: 0px;
}
.pre a{
  
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
  
  .pre a:hover {
    transition: all 0.5s ease-in-out;
  }

 .pre .we-are-block {
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
   margin-top: 50px;
    height: 900px;
  }
  
  @media screen and (max-width: 860px) {
    .pre .we-are-block {
      height: 2200px;
    }
    .pre .skills{
      visibility: hidden;
    }
  }
  
  @media screen and (max-width: 500px) {
    .pre .we-are-block {
      height: 1200px;
    }
  }
  .col-md-6{
    position:static ;
  }
  .col-lg-6{
    position: static;
  }
  #pre-section {
    background: #0c4c91;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  @media screen and (max-width: 860px) {
    #pre-section {
      flex-direction: column;
      justify-content: space-between;
    }
  }
  
  .pre-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
  }
  
  @media screen and (max-width: 860px) {
    .pre-image {
      position: relative;
      width: 100%;
      height: 45%;
    }
  }
  
  @media screen and (max-width: 747px) {
    .pre-image {
      height: 35%;
    }
  }
  
  @media screen and (max-width: 644px) {
    .pre-image img {
      position: absolute;
      left: -220px;
    }
  }
  
  .pre-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 40%;
    height: 80%;
    margin-right: 850px;
    margin-left: 12px;
    z-index: 2;
  }
  
  @media screen and (max-width: 1353px) {
    .pre-info {
      margin-right: 400px;
      width: 60%;
      background: #0c4c9199;
      padding: 0px 25px 0px 0px;
    }
  }
  
  @media screen and (max-width: 1238px) {
    .pre-info {
      margin-right: 340px;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1111px) {
    .pre-info {
      margin-right: 270px;
    }
  }
  
  @media screen and (max-width: 910px) {
    .pre-info {
      margin-right: 150px;
    }
  }
  
  @media screen and (max-width: 860px) {
    .pre-info {
      margin: 0px 0px 0px 0px !important;
      padding: 0px 20px 0px 20px !important;
      width: 100%;
      height: 55%;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 747px) {
    .pre-info {
      height: 65%;
    }
  }
  
  .pre-info h2 {
    color: white;
    font-size: 40pt;
    text-align: right;
  }
  
  @media screen and (max-width: 860px) {
    .pre-info h2 {
      text-align: center;
    }
  }
  
  .pre-info p {
    color: white;
    font-size: 14pt;
    text-align: right;
  }
  
  @media screen and (max-width: 860px) {
    .pre-info p {
      text-align: center;
    }
  }
  
  .pre-info a {
    background-color: white;
    color: #0c4c91;
    width: 180px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-size: 14pt;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  .pre-info a:hover {
    background: #404140;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(10px);
  }
  
  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
  }
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }
  .site-footer hr.small {
    margin: 20px 0;
  }
  .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  .site-footer a {
    color: #737373;
  }
  .site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
  }
  .footer-links {
    padding-left: 0;
    list-style: none;
  }
  .footer-links li {
    display: block;
  }
  .footer-links a {
    color: #737373;
  }
  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
    color: #F24259;
    text-decoration: none;
  }
  .footer-links.inline li {
    display: inline-block;
  }
  .site-footer .social-icons {
    text-align: right;
  }
  .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
  }
  .copyright-text {
    margin: 0;
  }
  @media (max-width: 991px) {
    .site-footer [class^="col-"] {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 767px) {
    .site-footer {
      padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
      text-align: center;
    }
  }
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
  }
  .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
  }
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
  }
  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
  }
  .social-icons a.facebook:hover {
    background-color: #3b5998;
  }
  .social-icons a.twitter:hover {
    background-color: #00aced;
  }
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }
  .social-icons a.dribbble:hover {
    background-color: #ea4c89;
  }
  @media (max-width: 767px) {
    .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
    }
  }
  


  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    color:#f24259; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  .forms .container :where( button) {
    outline: 0;
    border: 0;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
  }
  
  .forms .container button {
    background: #f24259;
    color: #ffff;
  }
  
  .forms button:hover {
    background: #;
  }
  
  